{% block doc -%}
	<!DOCTYPE html>
	<html{% block html_attribs %} lang="en" {% endblock html_attribs %}>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{%- block html %}
		<head>
			{%- block head %}
				<script>
					document.documentElement.setAttribute('data-bs-theme',
						localStorage.getItem('theme') === 'dark' ? 'dark' : 'light');
				</script>

				<title>{% block title %}{{ title|default }}{% endblock title %}</title>

				{%- block metas %}
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
				{%- endblock metas %}

				{%- block styles %}
					<!-- Bootstrap -->
					<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/datatables.min.css') }}" rel="stylesheet">
					<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
				{%- endblock styles %}
			{%- endblock head %}
		</head>
		<body{% block body_attribs %}{% endblock body_attribs %}>
		{% block body -%}
			<button onclick="topFunction()" id="myBtn" title="Go to top">
				<span class="scroll-top">
					<svg width="36px" height="36px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<defs>
							<style>
								.top-icon {
									fill: none;
									stroke-linecap: round;
									stroke-linejoin: bevel;
									stroke-width: 1.5px;
								}
							</style>
						</defs>
						<g id="ic-chevron-top">
							<path class="top-icon" d="M16.78,14.2l-4.11-4.11a1,1,0,0,0-1.41,0l-4,4"></path>
						</g>
					</svg>
				</span>
			</button>
			{% block navbar %}
				<div class="shadow-sm mb-5 rounded">
					<div class="container">
						<p class="fs-5 mt-2">
							<a href="https://quads.dev" target="_blank" rel="noopener noreferrer">
								<img class="quads-logo" src="{{ url_for('static', filename='image/quads.png') }}" alt="quads_logo">
							</a>
							{{ lab_name }} <small style="font-size: 14px">Dynamic Inventory</small>
						</p>
						<button class="theme-toggle float-end" id="themeToggleBtn" title="Toggles light & dark" aria-label="auto" aria-live="polite">
							<svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
								<mask class="moon" id="moon-mask">
									<rect x="0" y="0" width="100%" height="100%" fill="white" />
									<circle cx="24" cy="10" r="6" fill="black" />
								</mask>
								<circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
								<g class="sun-beams" stroke="currentColor" stroke-width="1.5">
									<line x1="12" y1="1" x2="12" y2="3" />
									<line x1="12" y1="21" x2="12" y2="23" />
									<line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
									<line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
									<line x1="1" y1="12" x2="3" y2="12" />
									<line x1="21" y1="12" x2="23" y2="12" />
									<line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
									<line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
								</g>
							</svg>
						</button>
						{{ nav.navbar.render(renderer="BootStrapRender5") }}
					</div>
				</div>
			{%- endblock navbar %}
			{% block content -%}
				<main>
					<div class="container">
						{% block page_content %}
						{% endblock %}
					</div>
				</main>
			{%- endblock content %}
			{% block footer %}
				<footer class="footer mt-auto py-3 bg-light">
					<div class="container">
						<div class="row">
							<div class="col text-center">
								<p class="text-muted mb-0">
									<a href="https://quads.dev" target="_blank" rel="noopener noreferrer">QUADS</a>: the infrastructure deployment time machine.
								</p>
							</div>
						</div>
					</div>
				</footer>
			{%- endblock footer %}

			{% block scripts %}
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/litepicker.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
				<script type="text/javascript"
						src="{{ url_for('static', filename='js/main.js') }}"></script>
			{%- endblock scripts %}
		{%- endblock body %}
		</body>
	{%- endblock html %}
	<script>
        $(document).ready(function () {
            $('.dropdown-submenu a.menu-title').on("click", function (e) {
                console.log($(this).next('ul'))
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
	</script>
	</html>
{% endblock doc -%}
