[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = :calendar: The infrastructure deployment time machine
[access "refs/*"]
	owner = group user/Will Foster (sadsfae)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Will Foster (sadsfae)
	label-Verified = -1..+1 group user/Will Foster (sadsfae)
	push = group user/Will Foster (sadsfae)
	read = group user/Will Foster (sadsfae)
	rebase = group user/Will Foster (sadsfae)
	removeReviewer = group user/Will Foster (sadsfae)
	submit = group user/Will Foster (sadsfae)
[access "refs/heads/*"]
	create = group user/Will Foster (sadsfae)
	push = +force group user/Will Foster (sadsfae)
	pushMerge = group user/Will Foster (sadsfae)
	read = group user/Will Foster (sadsfae)
[access "refs/tags/*"]
	push = group user/Will Foster (sadsfae)
	push = +force group user/Will Foster (sadsfae)
