{% extends "base.html" %}
{% block title %}Inventory{% endblock %}

{% block page_content %}
    <h2><b>{{ lab_name }} Dashboard</b></h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                {% for rack in racks.split() %}
                    <p><strong>Rack {{ rack }}</strong></p>
                    <table class="table" id="rack-{{ rack }}" data-rack-id={{ rack }}>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Warning</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        let rackRequest;
        $(document).ready(function() {
            function createLoadingIndicator() {
                return $('<div>')
                .addClass('loading-overlay')
                .append(
                    $('<div>')
                        .addClass('spinner-border spinner-border-sm text-secondary')
                        .attr('role', 'status')
                        .append($('<span>').addClass('visually-hidden').text('Loading...')),
                    $('<span>').addClass('ms-2').text('Loading rack data...')
                );
        };

        function updateRackData(rackId) {
            const $table = $(`#rack-${rackId}`);
            const headers = {{ headers|tojson|safe }};
                
            if ($table.find('thead').length === 0) {
                $table.append($('<thead>'));
            }
            if ($table.find('tbody').length === 0) {
                $table.append($('<tbody>'));
            }

            $table.find('tbody').empty().append(
                $('<tr>').append(
                    $('<td>')
                        .attr('colspan', headers.length)
                        .append(createLoadingIndicator())
                )
            );

            rackRequest = $.ajax({
                url: `/rack/${rackId}`,
                method: 'GET',
                async: true,
                success: function(data) {
                    console.log('Response data:', data);
                    if (data.error) {
                        $('#errorToast .toast-body').text("Error connecting to Foreman. Some data may be missing.");
                        var toast = new bootstrap.Toast($('#errorToast'), {
                            autohide: false
                        });
                        toast.show();
                    }
                    
                    // Update header row
                    const $thead = $table.find('thead').empty().append(
                        $('<tr>').append(
                            headers.map(header => 
                                $('<th>')
                                    .attr('scope', 'col')
                                    .text(header)
                            )
                        )
                    );

                    // Update table body
                    const $tbody = $table.find('tbody').empty();
                    
                    if (!data.host_details || data.host_details.length === 0) {
                        $tbody.append(
                            $('<tr>').append(
                                $('<td>')
                                    .attr('colspan', headers.length)
                                    .addClass('text-center')
                                    .text('No data available')
                            )
                        );
                        return;
                    }

                    $tbody.append(
                        data.host_details.map(host => 
                            $('<tr>').append(
                                headers.map(header => {
                                    if (header === "ServerHostnamePublic") {
                                        return $('<td>').append(
                                            $('<a>')
                                                .addClass('link-secondary-hover')
                                                .attr('href', `/host/${host["IPMIURL"]}/`)
                                                .text(host["ServerHostnamePublic"])
                                        );
                                    } else if (header === "IPMIURL") {
                                        return $('<td>').append(
                                            $('<a>')
                                                .addClass('link-secondary-hover')
                                                .attr('href', `http://mgmt-${host[header]}/`)
                                                .attr('target', '_blank')
                                                .text('console')
                                        );
                                    } else if (header === "Workload") {
                                        return $('<td>').append(
                                            $('<a>')
                                                .addClass('link-secondary-hover')
                                                .attr('href', '#')
                                                .text(host[header])
                                        );
                                    } else {
                                        return $('<td>').text(host[header]);
                                    }
                                })
                            )
                        )
                    );
                },
                error: function(xhr, status, error) {
                    console.error(`Error fetching data for rack ${rackId}:`, error);
                    $('#errorToast .toast-body').text("Error fetching data for rack " + rackId + ": " + error);
                    var toast = new bootstrap.Toast($('#errorToast'));
                    toast.show();
                }
            });
        };

        const observerOptions = {
            root: null, // Use the viewport as the root
            rootMargin: '0px',
            threshold: 0.1 // Trigger when 10% of the element is visible
        };

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const rackId = entry.target.getAttribute('data-rack-id');
                    updateRackData(rackId);
                    observer.unobserve(entry.target);
                }
            });
        }, observerOptions);

        // Observe all rack elements
        $('.table').each(function() {
            observer.observe(this);
        });

        $(window).on('beforeunload', function() {
            if (rackRequest) {
                rackRequest.abort();
            }
        });
    });
    </script>
{% endblock %}

